html {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
    font-family: lato, sans-serif;
    color: #222;
    font-size: 0.9em;

    main {
      flex: 1 0 auto;
      display: flex;

      aside {
        flex: 0 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #f2f2f2;

        i.fa,
        i.fab,
        i.fas {
          font-size: 2em;
          margin: 50px;
        }
      }

      section.content  { // the sectional part of class= content
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        font-size: 30px;
       // color: blue;

        .music-head{
            flex: 0 0 280px;
            display: flex;
            padding: 40px;
            background-color: #4e4e4e;
        }
    
        img {
          border: 2px solid;
        }
        .catty-music{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            font-weight: 300;
            color: #fff;
            padding-left:50px ;
        }
        .catty-music div:nth-child(1){
            margin-bottom:auto;
        }
        .catty-music div:nth-child(2){
            margin-top: 0;

        }
        .cathy-musi div:nth-child(2) i.fa{
            font-size: 0.9em;
            padding: 0 0.7em;
            font-weight: 300;
           
        }
      div:nth-child(1) p:first-child{
            font-size: 1.5em;
            margin: 0 0 10px;
        }
        div:nth-child(1) p:not(:first-child){
            font-size: 0.9em;
           margin: 2px  0;
        }

        .music-list{
            flex: 1 0 auto;
            list-style-type:none;
            padding: 5px 10px 0px;

            li{
                display: flex;
                padding: 0 20px;
                min-height:50px;
            }
            li p{
                flex: 0 1 25%;
            }
            li span.catty-cloud{
                border: 1px solid black;
                font-size: 0.6em;
                padding: 3px;
            }
            li:nth-child(2n){
                background-color: #f2f2f2;
            }
        }//end of music-list
      }// end of section.content
    }// end of main
    footer {
     display: flex;
     justify-content: space-between;
      flex: 0 0 90px;
      padding: 10px;
      color: rgb(185, 184, 184);
      background-color: rgba(61, 100, 158, 0.9);
    
    }
    ul{
        list-style-type: none;
    }
    .footerpt1{
    position: absolute;
    left: 10rem;
    bottom: 11rem;
    font-size:  1.5rem;
    line-height: 15px;
   // color: red;
        
    }

  }
}
